@import url('https://fonts.googleapis.com/css2?family=Buda&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}

body {
    font-family: Buda, sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    color: #3a3a3a;
}