@import url('https://fonts.googleapis.com/css2?family=Buda&family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
   
}

body {
    font-family: Buda, sans-serif;
    font-weight: 300;
    max-width: 1200px;
    margin: 0 auto;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: orangered;
}

#logo {
    float: left;
    font-size: 280%;
}

/* menu links */

#menu {
    font-size: 120%;
    letter-spacing: 4%;
}

#menu li {
    float: right;
    margin-right: 30px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main image */

#main-image {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#frenchies-image {
    height: 600px;
    width: 100%;
    background: url('../images/main-frenchie.jpg') no-repeat center center;

    /* zoom effect on loading page */
    animation-name: frenchies-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* zoom level for main image */

@keyframes frenchies-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#main-cover {
    font-size: 100%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 350px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(160, 240, 107, 0.7);

    bottom: 30px;
    right: 70px;

    position: absolute;
}
